body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.header,
.section.hero {
  background-color: #1f2937;
  padding: 0px 150px;
}

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #f9faf8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero.title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 800;
}

.hero.subtext {
  font-size: 18px;
  color: #e5e7eb;
}

.hero.title,
.hero.subtext {
  max-width: 450px;
}

.section.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image.hero {
  padding: 100px;
}

button {
  cursor: pointer;
  padding: 8px 30px;
  border-radius: 8px;
  background: #3382f6;
  border: 1px solid #3382f6;
  color: white;
  font-weight: bold;
}

.info-title {
  font-size: 32px;
  color: #1f2937;
  font-weight: 800;
  padding: 50px;
}

.section.information {
  text-align: center;
  padding: 0px 150px 150px 150px;
}

.info {
  max-width: 150px;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.info.text {
  color: #1f2937;
}

.info img {
  border: 3px solid #3382f6;
  border-radius: 5px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.section.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 150px;
  background-color: #e5e7eb;
  text-align: center;
}

.quote.text {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  margin-bottom: 20px;
  max-width: 800px;
  text-align: left;
  font-weight: 300;
}

.quote.author {
  font-weight: bold;
  margin-left: 500px;
}

.section.action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 150px;
}

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 100%;
  background-color: #3382f6;
  padding: 30px 100px;
  border-radius: 10px;
}

.action-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
}

.action.title {
  font-size: 20px;
  font-weight: bold;
  color: #f9faf8;
}

.action.subtext {
  font-size: 16px;
  color: #e5e7eb;
}

.action.sign-up {
  border: 2px solid white;
}
